/* <style scoped> */
/* style.css */
.container {
  display: flex;
  height: 95svh;
  /* overflow-y: hidden; */
}

#monitor {
  border: 1px solid #ccc;
  padding: 20px;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

#inputs {
  padding: 20px;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

#message_table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

.time {
  width: 20%;
}

.sender {
  width: 20%;
}

.content {
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  /* margin-top: 5vh; */
}

input[type=checkbox] {
  transform: scale(2);
  margin: 0 6px 0 0;
}

.input-section {
  margin-bottom: 10px;
}

.input-field {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.label {
  margin-bottom: 10px;
}

.reset {
  padding: 10px 20px;
  background-color: #ff675c;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.reset:hover {
  background-color: #fe1100;
}

.btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: #45a049;
}

footer {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin-left: 50%;
  height: 5vh;
  background-color: #f5f5f5;
  text-align: center;
}

body {
  background-color: #fff;
}

.chart-section {
  display: flex;
  flex-wrap: nowrap; /* 横に並べたときに折り返さないようにする */
  overflow-x: auto; /* コンテンツが画面に収まらない場合に横スクロールを有効にする */
  margin-top: 10%;
  width: 100vw;
}

#canvas {
  width: 33vw;
}

.status_field {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.status_left {
  display: flex;
  width: 50%;
  margin-left: 0;
}

.status_right {
  display: flex;
  width: 50%;
  margin-right: 0;
}